html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  touch-action: none;
  -webkit-user-scalable: no;
}

.settingsIcon {
  font-family: 'SettingsIcons';
}

.os-context-menu-list {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.os-context-menu-item {
  position: relative;
}

.art-bottom
  .art-progress
  .art-control-progress
  .art-control-progress-inner
  .art-progress-indicator {
  box-shadow:
    0 0 10px 3px rgba(255, 255, 255, 0.2),
    0 0 15px 5px rgba(72, 166, 248, 0.7);
  background-color: #fff !important;
}
.art-bottom .art-progress .art-control-progress .art-control-progress-inner {
  height: 100% !important;
}
.art-bottom .art-progress .art-control-progress .art-control-progress-inner .art-progress-played {
  background: linear-gradient(90deg, #0ed3ff 0%, #06a7ff 100%) !important;
}

.art-controls .art-control.art-control-time {
  font-size: 12px !important;
}

.art-progress-hover,
.art-progress-loaded,
.art-progress-played {
  border-radius: 3px;
}
